/* aplicação em qualquer tag usamos *{}  */
/* margin 0 para eliminar as margens externas, padding 0 para eliminar as margens internas */
/* text-decoration para retirar a decoração do texto que contem link */
/* color black para padronizar o texto com a cor preta. */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #000000;
}

header {
    background-color: #111111;
    padding:0px 215px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: #fff
    }
}